<div [hidden]="!authenticated()">
  <!--JOBOWNERS-->
  <div *ngIf="router.url=='/base/utilisateurs/jobowner'">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <strong>Rechercher un JobOwner</strong>
        </div>
        <form (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label>Nom</label>
            <input type="text" class="form-control" id="nom" required [(ngModel)]="nom" name="nom">
          </div>
          <div>
            <button type="submit" class="btn btn-block btn-success">Rechercher</button>
          </div>
        </form>

        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-header">
                <i class="fa fa-align-justify"></i> Listes des JobOwners
              </div>
              <div class="card-body">
                <table class="table table-bordered table-striped table-sm">
                  <thead>
                    <tr>
                      <th>Nom</th>
                      <th>Prénom</th>
                      <th>Username</th>
                      <th>Mail</th>
                      <th>Téléphone</th>
                      <th>Nom de l'Entreprise</th>
                      <th>Note</th>
                      <th [hidden]="logAdmin()">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let j of jobowners">
                      <td>{{j.nomUtilisateur}}</td>
                      <td>{{j.prenomUtilisateur}}</td>
                      <td>{{j.username}}</td>
                      <td>{{j.adresseMail}}</td>
                      <td>{{j.telephone}}</td>
                      <td>{{j.nomEntreprise}}</td>
                      <td>{{j.note}}</td>
                      <td [hidden]="logAdmin()"><button (click)="deleteJobowner(j.idUtilisateur)">Delete</button>
                        <button (click)="editUser(u)">Editer</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--FREELANCERS-->
  <div *ngIf="router.url=='/base/utilisateurs/freelancer'">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <strong>Rechercher un FreeLancer</strong>
        </div>
        <div class="animated fadeIn">
          <!--/.row-->
          <div class="row">
            <div class="card-body">

              <div class="row">
                <div class="col-lg-12">
                  <div>
                    <form (ngSubmit)="onSubmit()">
                      <div class="form-group">
                        <label>Nom</label>
                        <input type="text" class="form-control" id="nom" name="nom" required [(ngModel)]="nom">
                      </div>
                      <div>
                        <button type="submit" class="btn btn-block btn-success">Rechercher</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <div class="card">
                    <div class="card-header">
                      <i class="fa fa-align-justify"></i> Les FreeLancers
                    </div>
                    <div class="card-body">
                      <table class="table table-bordered table-striped table-sm">
                        <thead>
                          <tr>
                            <th>Nom</th>
                            <th>Prénom</th>
                            <th>Username</th>
                            <!-- <th>Adresse</th> -->
                            <th>Mail</th>
                            <th>Téléphone</th>
                            <!-- <th>Date de naissance</th> -->
                            <th>CV</th>
                            <th [hidden]="logAdmin()">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let u of freelancers">
                            <td>{{u.nomUtilisateur}}</td>
                            <td>{{u.prenomUtilisateur}}</td>
                            <td>{{u.username}}</td>
                            <!-- <td>{{u.adresse}}</td> -->
                            <td>{{u.adresseMail}}</td>
                            <td>{{u.telephone}}</td>
                            <!-- <td>{{u.dateNaissance}}</td> -->
                            <td><img src="data:image/jpeg;base64,{{u.image}}" height="" width="" /></td>
                            <td [hidden]="logAdmin()"><button
                                (click)="deleteUtilisateur(u.idUtilisateur)">Delete</button>
                              <button (click)="editUser(u)">Editer</button>
                            </td>
                          </tr>

                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <!--/.col-->
              </div>
            </div>
          </div>
        </div>
        <!--/.col-->
      </div>
    </div>
  </div>
</div>
<div class="card-header" [hidden]="authenticated()">
  Veuillez vous Connecter ou Creer un Compte !
</div>