<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          Ajouter un JobOwner
        </div>
        <div class="card-body">
          <form (submit)="saveJobowner()">
            <div class="form-group row">

              <label class="col-md-3 col-form-label" for="nom">Nom</label>
              <div class="col-md-9">
                <input type="text" id="text-input" name="nom" class="form-control"
                  [(ngModel)]="utilisateur.nomUtilisateur" placeholder="Nom ...">
              </div>

              <label class="col-md-3 col-form-label" for="prenom">Prénom</label>
              <div class="col-md-9">
                <input type="text" id="text-input" name="prenom" class="form-control"
                  [(ngModel)]="utilisateur.prenomUtilisateur" placeholder="Prenom ...">
              </div>

              <label class="col-md-3 col-form-label" for="username">Username</label>
              <div class="col-md-9">
                <input type="text" id="text-input" name="username" class="form-control"
                  [(ngModel)]="utilisateur.username" placeholder="Username...">
              </div>

              <label class="col-md-3 col-form-label" for="password">Mot de Passe</label>
              <div class="col-md-9">
                <input type="text" id="text-input" name="password" class="form-control"
                  [(ngModel)]="utilisateur.password" placeholder="Mot de Passe...">
              </div>

              <label class="col-md-3 col-form-label" for="adresseMail">E-mail</label>
              <div class="col-md-9">
                <input type="text" id="text-input" name="adresseMail" class="form-control"
                  [(ngModel)]="utilisateur.adresseMail" placeholder="E-mail...">
              </div>

              <label class="col-md-3 col-form-label" for="telephone">Téléphone</label>
              <div class="col-md-9">
                <input type="text" id="text-input" name="telephone" class="form-control"
                  [(ngModel)]="utilisateur.telephone" placeholder="Telephone...">
              </div>

              <label class="col-md-3 col-form-label" for="nomEntreprise">Nom de l'Entreprise</label>
              <div class="col-md-9">
                <input type="text" id="text-input" name="nomEntreprise" class="form-control"
                  [(ngModel)]="utilisateur.nomEntreprise" placeholder="Nom de l'entreprise...">
              </div>

              <!--
              <label class="col-md-3 col-form-label" for="role">Role</label>
              <div class="col-md-9">
                <select multiple [(ngModel)]="utilisateur.roles" name="role" class="form-control" id="ccmonth">
                  <option *ngFor="let r of roles" [ngValue]="r">
                    {{ r.libelle }}
                  </option>
                </select>
              </div>
            -->
              
              
              <div class="card-footer">
                <button type="submit" class="btn btn-primary px-4"><i class="fa fa-dot-circle-o"></i>
                  S'inscrire</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
      <div class="col-lg-12">
          <div class="card">
              <div class="card-header">
                  <i class="fa fa-align-justify"></i> Listes des Utilisateurs
              </div>
              <div class="card-body">
                  <table class="table table-bordered table-striped table-sm">
                      <thead>
                          <tr>
                              <th>Nom</th>
                              <th>Prénom</th>
                              <th>username</th>
                              <th>Mail</th>
                              <th>Téléphone</th>
                              <th>Nom de l'Entreprise</th>
                              <th>Note</th>
                              <th>Action</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let j of jobowners">
                              <td>{{j.nomUtilisateur}}</td>
                              <td>{{j.prenomUtilisateur}}</td>
                              <td>{{j.username}}</td>
                              <td>{{j.adresseMail}}</td>
                              <td>{{j.telephone}}</td>
                              <td>{{j.nomEntreprise}}</td>
                              <td>{{j.note}}</td>
                              <td><button (click)="deleteJobowner(j.idUtilisateur)">Delete</button></td>
                          </tr>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>




<!--
<div class="col-lg-12">
  <div class="card">
    <div class="card-header">
      <strong>Ajouter un JobOwner</strong>
      <small>Form</small>
    </div>
    <div class="animated fadeIn">
      <div class="row">
        <div class="card-body">
          <div class="card-header">
            <strong>JobOwner</strong>
            <form (ngSubmit)="saveUtilisateur()">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputNom">Nom</label>
                  <input type="nom" class="form-control" id="inputNom" [(ngModel)]="utilisateur.nomUtilisateur" name="nom"
                    placeholder="Nom">
                </div>
                <div class="form-group col-md-6">
                  <label for="inputPrenom">Prénom</label>
                  <input type="prenom" class="form-control" id="inputPrenom" [(ngModel)]="utilisateur.prenomUtilisateur" name="prenom"
                    placeholder="Prénom">
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputUsername">Username</label>
                  <input type="username" class="form-control"  id="inputUsername"
                    [(ngModel)]="utilisateur.usernameUtilisateur" name="username" placeholder="Username">
                </div>
                <div class="form-group col-md-6">
                  <label for="inputPassword4">Password</label>
                  <input type="password" class="form-control" id="inputPassword4"
                    [(ngModel)]="utilisateur.passwordUtilisateur" name="password" placeholder="Password">
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputEmail4">Email</label>
                  <input type="email" class="form-control" id="inputEmail4" [(ngModel)]="utilisateur.mailUtilisateur" name="Mail"
                    placeholder="Email">
                </div>
              </div>
              <div class="form-group">
                <label for="inputAddresse">Addresse</label>
                <input type="text" class="form-control" id="inputAddresse" placeholder="1234 Main St">
              </div>
              <div class="form-group">
                <label for="inputAddress2">Addresse 2</label>
                <input type="text" class="form-control" id="inputAddresse2" placeholder="Apartement, Résidence etc..">
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputVille">Ville</label>
                  <input type="text" class="form-control" id="inputVille">
                </div>
                <div class="form-group col-md-4">
                  <label for="inputPays">Pays</label>
                  <select id="inputPays" class="form-control">
                    <option selected>Choose...</option>
                    <option>Wakanda</option>
                    <option>Westeros</option>
                    <option>Narnia</option>
                    <option>Agartha</option>
                    <option>Midland</option>
                    <option>Kushan</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label for="file-input" class="col-md-3 col-form-label">Image</label>
                <div class="col-md-9"><input type="file" id="file-input" (change)="selectFile($event)" name="file"></div>
              </div>
              <div class="col-md-9">
                <button type="submit" class="btn btn-primary" (click)="ajouterJobOwner()"><i class="fa fa-dot-circle-o"></i>
                  Ajouter</button>
              </div>
            </form>
          </div>
          <form (ngSubmit)="saveUtilisateur()">
            <div class="col-lg-12">
              <div class="card">
                <div class="card-header">
                  <strong>Company</strong>
                  <small>Form</small>
                </div>
                <div class="card-body">
                  <div class="form-group">
                    <label for="company">Company</label>
                    <input type="text" class="form-control" id="company" placeholder="Enter your company name">
                  </div>
                  <div class="form-group">
                    <label for="country">Country</label>
                    <input type="text" class="form-control" id="country" placeholder="Country name">
                  </div>
                  <div class="row">
                    <div class="form-group col-sm-8">
                      <label for="city">City</label>
                      <input type="text" class="form-control" id="city" placeholder="Enter your city">
                    </div>
                    <div class="form-group col-sm-4">
                      <label for="postal-code">Postal Code</label>
                      <input type="text" class="form-control" id="postal-code" placeholder="Postal Code">
                    </div>
                  </div>

                </div>
              </div>
            </div>
            <div class="col-md-9">
              <button type="submit" class="btn btn-primary" (click)="ajouterJobOwner()"><i class="fa fa-dot-circle-o"></i>
                Ajouter</button>
            </div>
          </form>
        </div>
      </div>
      <div class="col-lg-12">
        <div style="width: 300px;">
          <form (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label>Nom</label>
              <input type="text" class="form-control" id="nom"  required [(ngModel)]="nom" name="nom">
            </div>
            <div>
              <button type="submit" class="btn btn-block btn-success">Submit</button>
            </div>
          </form>
        </div>

      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-header">
              <i class="fa fa-align-justify"></i> Les JobOwners
            </div>
            <div class="card-body">
              <table class="table table-bordered table-striped table-sm">
                <thead>
                  <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Username</th>
                    <th>Password</th>
                    <th>Role</th>
                    <th>Adresse</th>
                    <th>Mail</th>
                    <th>Téléphone</th>
                    <th>Date de naissance</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let u of utilisateurExtra">
                    <td>{{u.nomUtilisateur}}</td>
                    <td>{{u.prenomUtilisateur}}</td>
                    <td>{{u.username}}</td>
                    <td>{{u.password}}</td>
                    <td>{{u.role}}</td>
                    <td>{{u.mail}}</td>
                    <td>{{u.telephone}}</td>
                    <td>{{u.dateNaissance}}</td>
                    <td><img src="data:image/jpeg;base64,{{u.image}}" height="" width="" /></td>
                    <td><button (click)="deleteUtilisateur(u.idUtilisateur)">Delete</button></td>
                  </tr>

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->